* {
    margin: 0;
    padding: 0;
    font-family: Gilroy, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F9F9F9;
}

nav {
    max-width: 1280px;
    width: 85vw;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header {
    background-color: #FFFFFF;
}

.hamburger, .close, #check {
    display: none;
}

.nav-links {
    display: flex;
    gap: 47px;
}

.nav-links > ul > li > a {
    text-decoration: none;
    color: #000000;
    place-items: center;
    transition: all 0.15s ease-in-out;
}

.nav-links > ul > li > a:hover {
    color: #75BF7A;
}

.nav-links > ul {
    display: flex;
    gap: 40px;
}

.nav-links > ul > li {
    list-style-type: none;
    align-content: center;
}

.nav-links > button {
    width: 182px;
    height: 50px;
    border: none;
    border-radius: 5.95px;
    color: #FFFFFF;
    background-color: #75BF7A;
    font-weight: 600;
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.nav-links > button:hover {
    background-color: #a5d3a8;
}

.nav-links > button:active {
    background-color: #bfd2c0;
}

.container-1 {
    max-width: 1280px;
    width: 85vw;
    padding: 54px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-1 > :first-child {
    width: 45%;
}

.container-1 > :first-child > h1 {
    font-weight: bolder;
    font-size: 60.73px;
    line-height: 65.91px;
}

.container-1 > :first-child > p {
    color: #9E9DA2;
    padding-top: 27px;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.container-1 > :first-child > div {
    padding-top: 62px;
    display: flex;
    justify-content: space-evenly;
}

.container-1 > :first-child > div > button {
    background-color: #000000;
    width: 260px;
    height: 66.77px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.container-1 > :first-child > div > button:hover {
    background-color: #3e3e3e;
}

.container-1 > :first-child > div > button:active {
    background-color: #5c5c5c;
}

.container-1 > :first-child > div > button > a {
    font-weight: bolder;
    font-size: 24.6px;
    line-height: 0px;
    text-decoration: none;
    color: #FFFFFF;
}

.container-1 > :last-child {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1 > :last-child > img {
    max-width: 100%;
}

.hor-bar {
    background-color: #75BF7A;
    border: none;
    border-radius: 10px;
    max-width: 1280px;
    width: 85vw;
    height: 166px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hor-bar > :first-child {
    width: 246px;
}

.hor-bar > :first-child > p {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24.6px;
    line-height: 28px;
}

.hor-bar > :last-child {
    display: flex;
    gap: 10px;
}

.hor-bar > :last-child > input {
    background-color: #FFFFFF;
    max-width: 480px;
    width: 31vw;
    height: 4.1rem;
    border-radius: 4.39px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    padding: 0rem 1rem;
}

input::placeholder {
    color: #DADADA;
}

.hor-bar > :last-child > button {
    max-width: 240px;
    width: 16vw;
    height: 4.1rem;
    border-radius: 4.39px;
    border: none;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 22px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.hor-bar > :last-child > button:hover {
    background-color: #3e3e3e;
}

.hor-bar > :last-child > button:active {
    background-color: #5c5c5c;
}

.container-2, .container-3 {
    max-width: 1280px;
    width: 85vw;
    margin: 0 auto;
}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.works > :first-child > h1 {
    font-weight: bolder;
    font-size: 46.39px;
    line-height: 50.35px;
}

.works > :first-child > h1 > span {
    color: #75BF7A;
}

.container-2 {
    padding: 150px 0px;
}

.works > :last-child {
    max-width: 620px;
    width: 85vw;
}

.works > :last-child > p {
    font-weight: 500;
    font-style: normal;
    font-size: 23px;
    line-height: 26px;
    text-align: center;
    color: #9E9DA2;
    padding-top: 25px;
}

.phone {
    position: relative;
    width: 100%;
}

.ellipse {
    position: absolute;
    z-index: -10;
    width: 450px;
}

.ph-group {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.digits {
    position: absolute;
    height: 20px;
}

.circle-cover {
    display: flex;
    flex-direction: column-reverse;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.text-group-1 > div > h1, .text-group-2 > div > h1 {
    font-weight: bolder;
    font-size: 22px;
    line-height: 50.35px;
    text-align: right;
}

.text-group-1 > div > p, .text-group-2 > div > p {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    color: #9E9DA2;
}

.text-group-1 > :first-child > p {
    text-align: right;
}

.text-group-1 > :first-child {
    place-items: end;
    width: 290px;
    height: 290px;
}

.text-group-1 > :last-child {
    width: 290px;
    height: 290px;
    place-items: start;
}

.text-group-2 > div {
    place-items: start;
    width: 290px;
}

.text-group-2 > :first-child {
    place-items: end;
    text-align: right;
}

.text-group-1, .text-group-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-group {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 0px;
    bottom: 600px;
}

.benefits {
    margin-bottom: 52px;
}

.benefits > h1 {
    font-weight: bolder;
    font-size: 46.39px;
    line-height: 50.35px;
    text-align: center;
}

.benefits > h1 > span {
    color: #75BF7A;
}

.container-3{
    padding-bottom: 150px;
}

.card-heading {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card-heading > h1 {
    color: #75BF7A;
    font-weight: 500;
    font-style: normal;
    font-size: 88px;
    line-height: 118.8px;
}

.card-heading > h2 {
    color: #000000;
    font-weight: 600;
    font-size: 33.94px;
    line-height: 32.5px;
    width: 65%;
}

.card {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 304px;
    border: none;
    border-radius: 10px;

}

#card-2 {
    place-self: end;
    flex-direction: row-reverse;
    margin: 56px 0px;
}

#card-2 > div {
    width: 25%;
}

#card-3 > div {
    width: 45%;
}

.card-content {
    width: 35%;
}

.card-content > p {
    color: #9E9DA2;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    line-height: 23px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 38px 0px;
}

.footer-container > div > button {
    background-color: #000000;
    width: 178px;
    height: 45px;
    border: none;
    border-radius: 3.43px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.footer-container > div > button:hover {
    background-color: #3e3e3e;
}

.footer-container > div > button:active {
    background-color: #5c5c5c;
}

.footer-container > div > button > a {
    font-weight: bolder;
    line-height: 0px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16.89px;
}

.footer-container > div {
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-container > div > h1 {
    color: #272042;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
}

.footer-container > div > p {
    color: #8B8BA5;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.footer-container, footer > p {
    max-width: 1280px;
    width: 85vw;
    margin: 0 auto;
}

.footer-container > :last-child {
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

footer {
    background-color: #FFFFFF;
}

footer > p {
    color: #75BF7A;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    padding: 38px 0px;
}

@media (max-width: 1520px) {
    .ellipse {
        width: 30%;
    }
    
    .text-group {
        bottom: 39.8vw;
    }

    .container-1 > :first-child {
        width: 50%;
    }

    .container-1 > :last-child {
        width: 40%;
    }
}

@media (max-width: 1400px) {
    
}

@media (max-width: 1366px) {
    .container-1 {
        flex-direction: column;
    }

    .container-1 > :first-child {
        width: 88%;
    }

    .container-1 > :last-child {
        width: 100%;
        padding-top: 100px;
    }

    .card-heading > h2 {
        font-size: 31px;
    }
}

@media (max-width: 1200px) {
    .hor-bar > :last-child > button {
        font-size: medium;
        font-weight: bold;
    }

    .hor-bar > :first-child > p {
        font-size: 22px;
    }

    .card-content {
        width: 47%;
    }

    .card-heading > h1 {
        font-size: 80px;
    }

    .container-1 > :first-child > h1 {
        font-size: 50px;
    }

    .footer-container > :last-child {
        flex-direction: column;
        gap: 0px;
    }
}

@media (max-width: 1080px) {
    .text-group {
        margin-top: 60px;
        height: fit-content;
        position: static;
    }

    .text-group-1, .text-group-2 {
        
        justify-content: space-around;
    }
    .text-group-1 > div, .text-group-2 > div {
        place-items: center !important;
    }
    
    .text-group-1 > div > p, .text-group-2 > div > p {
        text-align: center !important;
    }
}

@media (max-width: 992px) {
    .container-1 {
        flex-direction: column-reverse;
        padding-top: 25px;
    }

    .container-1 > :last-child {
        padding-top: 0px;
    }

    .container-1 > :first-child {
        padding-top: 35px;
    }

    .nav-links > ul > li {
        margin-top: 40px;
    }

    .nav-links > ul, .nav-links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 99;
        transition: all 0.2s ease-in-out;
        background-color: #FFFFFF;
    }

    .nav-links > button {
        display: none;
    }
    
    #check:checked ~ .nav-links > ul {
        right: 0;
    }

    #check:checked ~ .close {
        right: 0;
    }

    #check:checked ~ .hamburger {
        z-index: 10;
    }
    
    .hamburger {
        display: block;
        z-index: 100;
    }

    .close {
        display: block;
        position: fixed;
        right: -100px;
        top: 0;
        margin: 5vw 7.5vw 0vw 0vw;
        z-index: 105;
    }
    
    .hamburger > img {
        width: 40px;
    }

    .nav-links > ul > li > a {
        font-size: 35px;
    }

    .hor-bar > :first-child > p {
        font-size: 20px;
        font-weight: 600;
    }

    .hor-bar > :last-child > input {
        width: 28vw;
        font-size: 20px;
        font-weight: 600;
    }

    .hor-bar > :last-child > button {
        font-size: 14px;
        font-weight: 600;
    }

    .container-1 > :first-child > h1, .container-1 > :first-child > p {
        text-align: center;
    }

    .card {
        width: 100%;
    }

    .card-content {
        width: 48%;
    }
    
    .card-heading > h1 {
        font-size: 64px;
    }

    .card-content > p {
        font-size: 16.19px;
    }

    header {
        background-color: #F9F9F9;
    }

    nav > img {
        height: 40px;
    }

    .footer-container > :nth-child(3) {
        display: none;
    }

    footer {
        background-color: #F9F9F9;
    }

    footer > p {
        color: #9E9DA2;
    }
}

@media (max-width: 768px) {
    .ph-group {
        width: 50vw !important;
    }

    .text-group-1, .text-group-2 {
        flex-direction: column;
    }
    
    .text-group {
        align-items: center;
    }

    .text-group-1 > div, .text-group-2 > div {
        width: 100%;
        height: 290px;
    }
    
    .text-group-1 , .text-group-2 {
        width: 290px !important;
    }

    .container-2 {
        padding: 100px 0px;
    }

    .container-3 {
        padding-bottom: 100px;
    }

    .container-1 {
        padding-top: 0px;
    }
    
    .container-1 > :first-child > div {
        gap: 20px;
    }
    
    .container-1 > :first-child > div > button {
        width: 70%;
        height: 48px;
        place-self: center;
    }
    
    .container-1 > :first-child > div > button > a {
        font-size: 14.31px;
    }

    .hor-bar {
        flex-direction: column;
        height: fit-content !important;
        padding: 22px 20px 30px 20px;
    }

    .hor-bar > div {
        width: 100%;
    }

    .hor-bar > :first-child {
        width: 90%;
        text-align: center;
    }

    .hor-bar > :first-child > p {
        font-size: 24.6px;
        font-weight: 760;
    }

    .hor-bar > :last-child {
        place-items: center;
    }

    .hor-bar > :last-child > input {
        max-width: 100%;
        width: 90%;
        margin: 20px 0px 20px 0px;
        height: 48px;
    }
    
    .hor-bar > :last-child > button {
        max-width: 100%;
        width: 81vw;
        height: 48px;
    }

    .card-heading > h2 {
        font-size: 25px;
    }

    .card {
        flex-direction: column !important;
        height: fit-content;
        width: 70vw;
        padding: 50px 0px;
        place-self: center !important;
    }
    
    #card-2 {
        place-self: center;
    }

    .card-content {
        width: 80% !important;
    }

    .card-content > p {
        text-align: center;
    }

    .works > :first-child > h1, .benefits > h1 {
        font-size: 36px;
    }
    
    .works > :last-child > p {
        font-size: 18px;
    }

    .hor-bar > :last-child > button {
        font-size: 18px;
    }

    .container-1 > :first-child > div > button > a {
        font-size: 18px;
    }

    .container-1 > :first-child > h1 {
        font-weight: bolder;
        font-size: 34.89px;
        line-height: 37.87px;
    }

    nav > img {
        height: 33px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .footer-container > :first-child {
        width:  131px;
    }

    .footer-container > :nth-child(2) {
        order: 2;
    }

    .footer-container > :last-child {
        order: 1;
    }

    .footer-container > div {
        text-align: center;
    }

    .nav-links > ul > li > a {
        font-size: 30px;
    }

    .close {
        margin-top: 6vw;
    }
}

@media (max-width: 526px) {
    .hamburger > img {
        width: 29px;
    }
    
    .text-group-1 > :first-child, .text-group-1 > :last-child {
        max-width: 390px;
    }
    
    .text-group-1 , .text-group-2 {
        max-width: 390px !important;
    }

    
    .card-content {
        width: 90% !important;
    }

    .works > :first-child > h1, .benefits > h1 {
        font-size: 24px;
    }

    .hor-bar > :last-child {
        flex-direction: column;
    }

    .container-2 {
        padding-top: 50px;
        padding-bottom: 0px;
    }

    .container-3 {
        padding-bottom: 50px;
    }

    .container-1 > :first-child > div > button > a {
        font-size: 14px;
    }

    .container-1 > :first-child > p {
        font-size: 18px;
    }

    nav > img {
        height: 26px;
    }

    .container-1 > :first-child > div > button {
        width: 150px;
        height: 38px;
        place-self: center;
    }
    
    .container-1 > :first-child > div > button > a {
        font-size: 14.31px;
    }

    .container-1 > :first-child > div > button > img {
        width: 23px;
    }

    .container-1 > :first-child > div {
        padding-top: 30px !important;
    }

    .container-1 > :first-child {
        width: 95%;
    }

    .nav-links > ul > li > a {
        font-size: 20px;
    }

    .close {
        margin-top: 10vw;
    }
}